<% layout('layouts/boilerplate') %>
    <!DOCTYPE html>
    <html dir="rtl" lang="he-IL">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/indexmobile.css" />
        <title>keepit</title>
    </head>

    <body>
        <div class="container" id="content">
            <div class="container instructions text-muted">
                <h3>מחשבון האחסון</h3>
                1. בחרו חדר <br /> 2. בחרו רהיטים שתבחרו לאחסן<br /> 3. קבלו
                הערכה של שטח האחסון הנדרש !
            </div>
            <div class="all">
                <div class="container d-column">
                    <% for (let i=0; i < rooms.length; i++ ) { %>
                        <a href="#" class="room d-block d-flex text-muted" id="<%= rooms[i].id%>">
                            <span class="title ml-auto">
                                <%= rooms[i].translation %>
                            </span>
                            <span class="d-inline-block">
                                <span class="area">0</span>
                                <span class="sqm">קוב</span>
                                <span class="toggle-icon mr-2"><i class="fa fa-plus"></i></span>
                                <input type="hidden" name="price-per-room" value="0">
                            </span>
                        </a>
                        <div class="products" id="<%= rooms[i].id %>">
                            <% if(rooms[i].id=='myItems' ) { %>
                                <div class="d-block m-3" id="no-items">
                                    <p class="text-muted">טרם בחרתם חפצים לאחסון</p>
                                </div>
                                <% } %>
                                    <% for (furniture of rooms[i].furniture) { %>
                                        <div
                                            class="furniture-single <%= furniture.id %> <%= rooms[i].id==='myItems' ? 'd-none ' : '' %>">
                                            <div class="d-flex align-items-center">
                                                <div class="d-inline-block">
                                                    <img src="<%= furniture.thumbnail %>" alt="<%= furniture.title %>">
                                                </div>
                                                <div class="d-inline-block ml-auto">
                                                    <p class="card-title text-muted align-text-bottom">
                                                        <%= furniture.translation %>
                                                    </p>
                                                </div>

                                                <div class="d-inline-block calc-area d-flex" id="<%= furniture._id %>">
                                                    <button class="sub btn btn-md calc"><i
                                                            class="fa fa-minus"></i></button>
                                                    <input class="btn btn-md calc" min="0" value="0" readonly
                                                        type="button">
                                                    <button class="add btn btn-md calc"><i
                                                            class="fa fa-plus"></i></button>
                                                    <input type="hidden" name="price" value="<%= furniture.price %>">
                                                    <input type="hidden" name="area" value="<%= furniture.size %>">
                                                    <input type="hidden" name="room" value="<%= furniture.room %>">
                                                </div>

                                            </div>
                                        </div>
                                        <% } %>
                                            <div class="hide-room d-flex" id="<%= rooms[i].id %>">
                                                <a href="#" class="hide-room d-block mr-auto" id="<%= rooms[i].id %>"><i
                                                        class="fa fa-times"></i>סגור חדר</a>
                                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="total-show price text-muted">להערכתינו סך שווי הפריטים שלכם בחדר זה הינו:
                    <span class="show-price-per-room">0</span>
                    <span>&#8362;</span>
                </div>
                <div class="total-show price text-muted">סך שווי הפריטים בכל החדרים:
                    <span class="sum-price-value">0</span>
                    <span>&#8362;</span>
                </div>
            </div>
            <div id="contactForm" class="d-none">
                <form action="/mail" method="POST" name="contactmail">
                    <div class="email-form d-block mx-auto">
                        <input type="text" class="form-control form-inline" name="name" id="name" placeholder="שם*"
                            required>
                        <input type="text" class="form-control form-inline" name="city" id="city" placeholder="עיר*"
                            required>
                        <input type="tel" class="form-control form-inline" name="tel" id="tel" placeholder="טלפון נייד*"
                            required>
                        <input id="sendArea" type="hidden" name="sendArea" value="0" />
                        <button class="btn d-block mx-auto mb-1 mt-2" id="send" type="submit">שלח</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="row text-muted align-items-center">
            <div class="col-3">נפח הפריטים שלכם הינו</div>
            <div class="col-3"><span id="totalArea">0</span> <sub>קוב</sub></div>
            <div class="col-4"><button id="openForm" class="btn">שלחו לי מחיר להצעות אחסון</button>
            </div>
            <div class="col-2">
                <a id="call" href="tel:*5231"><i class="fas fa-phone"></i></a>
            </div>
        </footer>
        <script src="/js/indexmobile.js"></script>
        <script src="js/form-validation.js"></script>

    </body>

    </html>