<% layout('layouts/boilerplate') %>
    <!DOCTYPE html>
    <html dir="rtl" lang="he-IL">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <title>keepit</title>
    </head>

    <body>
        <div class="instructions">
            בחרו חדר <i class="fa fa-caret-left"></i> בחרו רהיטים שתבחרו לאחסן <i class="fa fa-caret-left"></i> קבלו
            הערכה של שטח האחסון הנדרש !
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 rooms">
                <div>
                    <div class="scroll-mobile">
                        <a class="toggle-rooms-mobile"><i class="fa fa-angle-down"></i></a>
                    </div>
                    <% for (let i=0; i < categories.length; i++ ) { %>
                        <a href="#" class="room <%= i === 0 ? 'active' : '' %> d-block d-flex text-muted"
                            id="<%= categories[i].id%>">
                            <span class="title ml-auto">
                                <%= categories[i].translation %>
                            </span>
                            <span class="d-inline-block">
                                <span class="area">0</span>
                                <span class="sqm">מ"ק</span></span>
                            <input type="hidden" name="price-per-room" value="0">
                            <input type="hidden" name="items-in-room" value="0">
                        </a>
                        <% } %>
                            <div class="total-show price">להערכתינו סך שווי הפריטים שלכם בחדר זה הינו:
                                <span class="show-price-per-room">0</span>
                                <span>&#8362;</span>
                            </div>
                            <div class="total-show price">סך שווי הפריטים בכל החדרים:
                                <span class="sum-price-value">0</span>
                                <span>&#8362;</span>
                            </div>
                            <div class="total-show d-block d-flex text-muted">
                                <span class="d-inline mx-auto">
                                    <i class="fas fa-box-open"></i> 
                                    <span>ארזתם בינתיים </span>
                                    <span id="sum-items">0
                                    </span>
                                    <span>פריטים</span>
                                </span>
                            </div>
                            <input type="hidden" name="price-per-room" value="0">
                </div>
            </div>
            <div class="col-md-9" id="products">
                <div class="container">
                    <div class="d-block d-flex align-items-center" id="roomNavCard">
                        <span class="ml-auto room-name">
                            <%= categories[0].translation %>
                        </span>
                        <span id="hideEmptyButton">
                            <button class="btn d-inline" id="emptyRoomBtn">
                                <i class="fa fa-trash"></i> רוקן חדר זה
                            </button>
                            <input type="hidden" name="room-id" value="<%= categories[0]._id %>">
                        </span>
                    </div>
                    <div class="no-items d-block m-3 d-none"><p class="text-muted">טרם בחרתם חפצים לאחסון</p></div>
                    <div class="all-furniture row">
                        <% for (let furn of furniture) { %>
                            <div class="furniture col-sm-12 col-md-6" id="<%= furn.room._id %>">
                                <div class="furniture-single">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <img src="<%= furn.thumbnail %>" alt="<%= furn.title %>">
                                        </div>
                                        <div class="col-4">
                                            <p class="card-title text-muted align-text-bottom">
                                                <%= furn.translation %>
                                            </p>
                                        </div>

                                        <div class="col-4 calc-area">
                                            <div class="d-block" id="<%= furn._id %>">
                                                <button class="sub btn btn-sm calc"><i class="fa fa-minus"></i></button>
                                                <input class="btn btn-sm calc" min="0" value="0" readonly type="button">
                                                <button class="add btn btn-sm calc"><i class="fa fa-plus"></i></button>
                                                <input type="hidden" name="price" value="<%= furn.price %>">
                                                <input type="hidden" name="area" value="<%= furn.size %>">
                                                <input type="hidden" name="room" value="<%= furn.room._id %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/index.js"></script>

    </body>

    </html>